<!DOCTYPE html>

<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:fragment="headerInclusions">
        <meta charset="UTF-8">


        <!-- Latest compiled and minified CSS
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        -->
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

        <!-- jQuery library -->
        <!--
            <script src="js/jquery-3.4.1.min.js" th:src="@{js/jquery-3.4.1.min.js}"></script>
        -->
        <script src="js/jquery-3.3.1.slim.min.js" th:src="@{js/jquery-3.3.1.slim.min.js}"></script>


        <!-- Latest compiled JavaScript
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
         -->


        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">


        <!--
        le due seguenti dovrebbero essere importate dai file statici. Se non venissero caricati, invertire
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        -->
        <script src="js/axios.min.js"       th:src="@{js/axios.min.js}"></script>
        <script src="js/vue.js"             th:src="@{js/vue.js}"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-cookies@1.5.12/vue-cookies.js"></script>
        <!-- Vue, axios and custom-common js files -->
        <script src="js/utils.js"           th:src="@{/js/utils.js}"></script>
        <script src="js/toGroupAPI.js"      th:src="@{/js/toGroupAPI.js}"></script>
        <script src="js/navbar.js" th:src="@{/js/navbar.js}"></script>
        <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
        <link rel="stylesheet" href="../static/css/common.css" th:href="@{/css/common.css}">

        <th:block th:insert="fragments/navbar.html :: navbarInclusions" />
    </th:block>
</head>
<body>

<div th:fragment="header">
    <!-- insert common stuffs here -->
</div>

<div th:fragment="notificationMessages">
    <div id="messageHandling">
        <div id="errorMessageSection" v-if="messages.errorMessage != null">
            <p>{{messages.errorMessage}}</p>
        </div>
        <div id="infoMessageSection" v-if="messages.infoMessage != null">
            <p>{{messages.infoMessage}}</p>
        </div>
        <div id="successMessageSection" v-if="messages.successMessage != null">
            <p>{{messages.successMessage}}</p>
        </div>
    </div>
</div>

<script>
    var user1 = "";
    window.userNameHeader;
    window.userIdHeader;
    window.isLoggedHeader = false;


    window.setLoggedUser = function (userName,userId){
        console.log("Dentro header");
        this.userNameHeader = userName;
        this.userIDHeader = userId;
        isLogged = true;
    }



    window.toStringLogged = function (){
        console.log("username: " + this.userNameHeader + "userID: " + this.userIdHeader);
    }

    window.isLogged = function(){
        return this.isLoggedHeader;
    }


</script>

</body>
</html>
