.navbar-inverse{margin-bottom: 0;}

.gruppo-body{padding-left: 20%;padding-right: 20%;}
.gruppo-header>h5{padding-left: 47%;}

.gruppo-buttons>button{
    margin: 10px;
    border-radius: 20px;
    border-color: blue;
    background-color: transparent;
    color: blue;
}

.gruppo-buttons>button:hover{
    background-color: blue;
    color: white;
}

.gruppo-buttons>button:focus-within{
    background-color: blue;
    color: white;
}

.gruppo-footer>a{margin-left: 47%;margin-top: 20px;}

/**/

.tagList {
    display: flex;
    flex-flow: column;
    max-height: 200px;
    height: 25vh;
    overflow-y: scroll;
    max-width: 25vw;
    border: 1px solid lightcoral;
}

.flexInline {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}

#map-canvas{
    width: 800px;
    height: 500px;
}
#map-canvas > div, #map-canvas > div > div {
    width: 100%;
    height: 100%;
}


.yetExistingTags{
    max-width: 25vh;
    /*
    overflow-x: hidden;
     */
    overflow-y: scroll;
}

.descriptionGroup{
    min-width: 20vh;
    min-height: 10vh;
}


/*bootstrap like*/

.d-flex{
    display: flex;
}
.flex-column{
    flex-flow: column;
}
.flex-row{
    flex-flow: row;
}
.flex-nowrap{
    flex-wrap: nowrap;
}
.flex-wrap{
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
.align-item-center{
    align-items: center;
}
.align-content-center{
    align-content: center;
}
.align-content-between {
    align-content: space-between;
}
.w-100{
    width: 100%;
}
.w-50{
    width: 50%;
}