.thumbnail{padding: 0;box-shadow: 0 2px 10px #424242;text-align: center;max-height: 212px;}
.thumbnail>img{box-shadow: 0 2px 10px #424242;}
.caption{ padding: 0;}
body{background-color: white;}

.post__intestazione{display: block;}
.post__intestazione__titolo{font-size: 22px; margin-top: 20px;margin-left: 25px;display: block;float: left;margin-bottom: 10px;}
.post__intestazione__link{float: right;display: block; margin-top: 20px;margin-right: 25px;font-size: 15px;color: blue;margin-bottom: 10px;}

.cards{margin-top: 10%;}

.cover{
    height: 350px;
    background-image: url(https://source.unsplash.com/user/erondu);
    background-size: cover;
    background-position: center center;

}


.cover__caption{
    display: table;
    height: 100%;
    width: 100%;
}

.title{
    display: block;
    text-align: center;
    margin-top: 10%;
    color: white;
    font-size: 80px;

}

.search{

    border-radius: 30px 0 30px 0;
    margin-top: 320px;
    z-index: 1;
    margin-left: 10%;
    margin-right: 10%;
    position: absolute;


}
.searchNav{margin-top: 8px;}
#dropdownMenu1{margin-left: 4%;}
.navbar-form{margin-left: 20%;}


#loaderCustom{
    visibility: visible;
}

#appGroupEsplora{
    visibility: hidden;
}

#map {
    height: 600px;
    width: 95%;
    box-shadow: 0 2px 10px #424242;
    visibility: hidden;
    position: relative;
    right: 0;
    top: 0;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 35px;
}
