.fa, .far, .fas {
    width: 10%;
}
.groupHomeHeader-info{
    margin-top: 10%;
    margin-bottom: 5%;
}
.groupHomeHeader-banner{
    border-radius: 30px 30px 30px 30px;
    margin-right: 3%;
    margin-left: 2%;
}

.section-list{
    margin : 3%;

}

.membersGroup h2,h3,h1{
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 1%;
    margin-bottom: 5%;
}

.group-bar ul{
    margin-left: 3%;
    margin-right: 3%;
}

.membersGroup ul{
    width: 65%;
    list-style-type: none;
    background-color: white;
}

.membersGroup{
    border-radius: 60px;
    border: 2px solid cadetblue;
    padding-top: 4%;
    padding-left: 3%;

}
.group-bar li{
    margin-right: 5%;
}
.groupHomeHeader-banner>img{
    border-radius: 30px 30px 30px 30px;
}
.change_image{
    margin-left: 3%;
}

.change_image a{
    padding-left: 10%;
}




.flex-container {
    display: flex;
    margin-top: 3%;
    margin-left: 3%;
    margin-rigth: 3%;
    margin-bottom: 1%;
}


.flex-column{
    flex-direction: column;
    margin-left: 3%;
    margin-right: 3%;
}

.groupHomeHeader-groupName{
    margin-bottom: 5%;
}

.groupHomeHeader-groupCreator{

}


.groupHomeHeader-groupData{

}

.groupHomeHeader-groupDescription{
    margin-bottom: 2%;

}