<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:https="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-model="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/esplora.css" th:href="@{/css/esplora.css}">

    <script src="js/esplora.js"      th:src="@{/js/esplora.js}"></script>
    <th:block th:replace="fragments/header.html :: headerInclusions" />

</head>
<body>


<div id="loaderCustom"></div>

<div id="appGroupEsplora">
    <th:block th:replace="fragments/navbar :: navbar" />

    <section class="cover">
        <div class="cover__caption">
            <div class="title">
                Esplora
            </div>

        </div>
    </section>

    <nav class="navbar navbar-inverse navbar-fixed-top search">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


                <div class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               placeholder="Search by title of group"
                               v-model="inputGroupName">

                        <input type="text"
                               class="form-control"
                               placeholder="Search by userName creatore"
                               v-model="inputCreator">

                        <button @click="userOrGroupSearch()" type="submit" class="btn button__search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>


                    </div>

                </div>
                <div class=" searchNav">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Dropdown
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a role="button" @click="mapsSearch()">Maps</a></li>
                        <li><a role="button" @click="tagsSearch()">Tags</a></li>
                        <li><a role="button" @click="dateSearch()">Date</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </div>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!--
    <div class="form-group">
        <input type="text"
               class="form-control"
               placeholder="Search by title of group"
               v-model="inputGroupName">

        <input type="text"
               class="form-control"
               placeholder="Search by userName creatore"
               v-model="inputCreator">

        <button @click="userOrGroupSearch()" type="submit" class="btn button__search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>

    </div>
    -->

    <!-- ------------------------------ TAGS ------------------------------------ -->
    <div v-if="getTypeSearch == 'tags'">


        <div class="container">


            <div class="row">
                <div class="col-sm-6 col-md-2" v-for="tag in allTags">
                    <div class="thumbnail" @click="findGroupByTag(tag.name)">
                        <img src="https://source.unsplash.com/user/erondu/171x180" >
                        <div class="caption">
                            <h5>{{tag.name}}</h5>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <!-- ------------------------------ MAPS ------------------------------------ -->
    <div v-if="getTypeSearch == 'maps'">


    </div>
    <!-- ------------------------------ DATA ------------------------------------ -->
    <div v-if="getTypeSearch == 'date'">
        <div class="container">
            <input class="calendarGroup"
                   type="date"
                   name="groupDate"
                   v-model="inputDate"
                   value="2020-01-01"
                   data-date-inline-picker="true">
            <button @click="dateSearchGroup()" type="submit" class="btn button__search"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>

        </div>
        <div class="container">
            <ul v-if="groupFind.length > 0 " style="list-style-type: none">
                <li><h3>{{new Date(inputDate).toLocaleString('it-IT', {'weekday': 'long', 'month': 'long', 'day': '2-digit'})}}</h3></li>
                <li v-for=" group in groupFind" class="groupName">
                    <ul style="list-style-type: none">
                        <li><h4><a v-bind:href="'/group_page/'+group.groupId">&nbsp {{group.groupName}}</a></h4></li>

                        <li> <img src="https://source.unsplash.com/random/40x40" class="profile-image img-circle">Parteciperanno all'evento: {{group.members.length}} Persone</li>
                        <li> Location: {{group.location.name}}</li>
                    </ul>
                 </li>
            </ul>
        </div>





        DATA
    </div>

    <!-- ------------------------------ USER OR GROUPNAME ------------------------------------ -->

    <div v-if="getTypeSearch == 'userOrGroup'">
        <div class="container">
            <ul v-if="groupFind.length > 0 ">
                <li v-for=" group in groupFind">
                    <a v-bind:href="'/group_page/'+group.groupId"><img src="https://source.unsplash.com/random/40x40"
                                                                       class="profile-image img-circle"> &nbsp;{{group.groupName}}</a>
                    {{group.description}}
                    {{group.creator}}
                    {{group.groupDate}}

                    <hr>
                </li>
            </ul>
            USER OR GROUPNAME
        </div>
    </div>



</div>

<div>
    <div id="map">

    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZe4Q05ZstWsIRoUCpT14vSALyDjEWXIc&libraries=places&callback=initMap"
        async defer></script>

<script>
    // This example requires the Places library. Include the libraries=places
    // parameter when you first load the API. For example:
    // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

    var map;
    var service;
    var infowindow;
    var myLocation = 'Torino';


    function changeLocation(){
        myLocation = document.getElementById("locationQuery").value;
        console.log(document.getElementById("locationQuery").value);
        console.log(myLocation);
        var request = {
            query: myLocation,
            fields: ['name', 'geometry'],
        };

        service = new google.maps.places.PlacesService(map);

        service.findPlaceFromQuery(request, function(results, status) {
            console.log("Maps results: " );
            console.log(JSON.stringify(results[0]));
            console.log(results[0]);
            //app.setLocation(results[0]);

            if (status === google.maps.places.PlacesServiceStatus.OK) {
                app.setLocation({
                    "lng": results[0].geometry.location.lng() ,
                    "lat" : results[0].geometry.location.lat(),
                    "name" : myLocation
                });
                console.log(results[0]);
                for (var i = 0; i < results.length; i++) {
                    console.log("google location latitude: "+ results[i].geometry.location.lat());
                    console.log("google location latitude: "+ results[i].geometry.location.lng());
                    setMarker(results[i]);
                }

                map.setCenter(results[0].geometry.location);
            }
        });

        function setMarker(place){
            var marker = new google.maps.Marker({
                map: map,
                position: place.geometry.location
            });

            google.maps.event.addListener(marker, 'click', function() {
                infowindow.setContent(place.name);
                infowindow.open(map, this);
            });

        }
    }





    function createMarker(place) {
        var marker = new google.maps.Marker({
            map: map,
            position: place.geometry.location
        });

        google.maps.event.addListener(marker, 'click', function() {
            infowindow.setContent(place.name);
            infowindow.open(map, this);
        });
    }

</script>
</body>
</html>