<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>

    <title> Home </title>
    <th:block th:replace="fragments/header.html :: headerInclusions"/>

    <link rel="stylesheet" href="../static/css/Home.css" th:href="@{/css/Home.css}">
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}">
    <script src="js/loginRegister.js" th:src="@{/js/loginRegister.js}"></script>

</head>

<body>

<div id="loaderCustom"></div>
<div id="appLoginRegister">
    <th:block th:replace="fragments/navbar :: navbar"/>


    <!----------------------------------------------
  COVER
 ------------------------------------------------->

    <section class="cover">
        <div class="cover__caption">
            <div class="title">
                <h2>Da soli possiamo fare così poco, insieme possiamo fare così tanto</h2>
            </div>
            <div class="cover__caption__copy">

            </div>
        </div>
    </section>

    <!----------------------------------------------
      CARDS
     ------------------------------------------------->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="post__intestazione">
            <span class="post__intestazione__titolo">Popolari</span>
        </div>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">


            <!--
            -->
            <section class="item active">

                <div class="thumbnail"
                     v-if="groupToGroupsCarousel != null && groupToGroupsCarousel.length > 0 && groupToGroupsCarousel[0].length > 0"
                     v-for="group in groupToGroupsCarousel[0]"
                >
                    <!--
                    <div @click="loadGroupPage(group.groupId)">
                    -->
                        <img src="https://source.unsplash.com/category/nature/400x260" alt="">
                        <div class="post__date">
                            <span class="date">25</span>
                            <span class="month">nov</span>
                        </div>

                        <div class="caption">
                            <div class="row">
                                <div class="col-md-8"><h4>{{group.groupDate}}</h4></div>
                                <div class="col-md-4"><a class="link_card" href=""><i class="fas fa-plus animated heartBeat"></i></a>
                                </div>

                            </div>

                            <h3><a @click="loadGroupPage(group.groupId)">{{group.groupName}}</a></h3>
                            <!-- v-bind:href="'/group_page/'+group.groupId" -->
                            <p>{{group.description}}</p>

                        </div>
                        <div class="card__footer">
                            <img class="img-circle immagine_creatore" src="https://source.unsplash.com/random/40x40"
                                 alt="">

                            <h4 class="organizzato">Organizzato da {{group.creator}}</h4>

                            <div class="clearfix"></div>
                        </div>
                    <!--
                    </div>
                    -->
                </div>
            </section>

            <section class="item"
                     v-if="groupToGroupsCarouselInactive != null && groupToGroupsCarouselInactive.length > 0"
                     v-for="(groupsEachSection, indexGES) in groupToGroupsCarouselInactive"
                     :key="indexGES"
            >
                <div class="thumbnail"
                     v-if="groupsEachSection != null && groupsEachSection.length > 0"
                     v-for="group in groupsEachSection">
                    <!--
                    <div @click="loadGroupPage(group.groupId)">
                    -->
                    <img src="https://source.unsplash.com/category/nature/400x260" alt="">
                    <div class="post__date">
                        <span class="date">25</span>
                        <span class="month">nov</span>
                    </div>

                    <div class="caption">
                        <div class="row">
                            <div class="col-md-8"><h4>{{group.groupDate}}</h4></div>
                            <div class="col-md-4"><a class="link_card" href=""><i class="fas fa-plus animated heartBeat"></i></a>
                            </div>

                        </div>

                        <h3><a @click="loadGroupPage(group.groupId)">{{group.groupName}}</a></h3>
                        <!-- v-bind:href="'/group_page/'+group.groupId" -->
                        <p>{{group.description}}</p>

                    </div>
                    <div class="card__footer">
                        <img class="img-circle immagine_creatore" src="https://source.unsplash.com/random/40x40"
                             alt="">

                        <h4 class="organizzato">Organizzato da {{group.creator}}</h4>
                        <div class="clearfix"></div>
                    </div>
                    <!--
                    </div">
                    -->
                </div>
            </section>
        </div>


        <!-- Indicators -->

        <section class="indicators">
            <ol class="carousel-indicators"
                v-if="amountCarouselSections > 1">
                <li data-target="#carousel-example-generic"
                    data-slide-to="0" class="active"></li>

                <li data-target="#carousel-example-generic"
                    v-for="x in (amountCarouselSections - 1)"
                    :data-slide-to="x"></li>
            </ol>
        </section>
    </div>

    <!--------------------------------------------------->




    <!-- Button trigger modal -->

    <div id="loginModal" class="modal animated bounceInUp">
        <div class="modal-dialog" id="modal-login">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title scritta-accedi">Accedi</h4>
                </div>

                <div class="modal-body">

                    <!--
                    <th:block th:insert="fragments/header.html :: notificationMessages" />
                    -->

                    <input type="text" id="username" name="username" class="form-control login-input "
                           placeholder="Username"
                           v-model="userInfo.username"
                    />
                    <br/>
                    <input type="password" id="password" name="password" class="form-control control login-input "
                           placeholder="Password"
                           v-model="userInfo.password"
                    />
                    <br/>
                    <button type="submit" name="submit" value="submit" class="btn-l" @click="customLogin()">Login
                    </button>
                    <h5 style="margin-top: 10px;">Non hai un account ? <a id="linkToRegistration" role="button"
                                                                          onclick="switchFromLoginModalToRegistration()">
                        Registrati qui </a></h5>


                </div>

                <form role="form" method="POST" th:action="@{/j_spring_security_check}">
                    <div class="modal-footer">
                        <h4 style="text-align: center;">Or</h4>
                        <div class="col-sm-6">
                            <button type="submit" class="btn-facebook"><i class="fab fa-facebook-f"></i>Facebook
                            </button>
                        </div>
                        <div class="col-sm-6">
                            <button type="submit" class="btn-google"><i class="fab fa-google"></i>Google</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <!-- Modal Registrazione-->

    <div th:action="@{/registration}" id="registerModal" class="modal  animated bounceInUp" role="form" method="POST">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title scritta-accedi">Registrati</h4>
                </div>
                <div class="modal-body">

                    <th:block th:insert="fragments/header.html :: notificationMessages"/>
                    <!--
                   <input type="text" class="form-control registration-input-input " id="errorMessageSection" v-if="messages.errorMessage != null" v-model="messages.errorMessage" >
                   <input type="text" class="form-control registration-input-input " id="infoMessageSection" v-if="messages.infoMessage != null" v-model="messages.infoMessage" >
                   <input type="text" class="form-control registration-input-input " id="successMessageSection" v-if="messages.successMessage != null" v-model="messages.successMessage" >
                   -->


                    <input type="text" name="username" class="form-control registration-input " placeholder="Username"
                           required
                           v-model="userInfo.username"
                    />
                    <br/>

                    <input type="email" name="email" class="form-control control registration-input "
                           placeholder="Email" required
                           v-model="userInfo.email"
                    />
                    <br/>
                    <input type="password" name="password" class="form-control control registration-input "
                           placeholder="Password" required
                           v-model="userInfo.password"
                    />
                    <br/>
                    <input type="password" name="repeatPassword" id="repeatPassword"
                           class="form-control control registration-input " placeholder="Reinserisci la password"
                           required
                           v-model="userInfo.passwordConfirmation"
                    />
                    <br/>
                    <div class="div_button">
                        <button type="button" name="login_button" id="login_button" class="btn-l" @click="register()">
                            Registrati
                        </button>
                    </div>
                    <div class="link_registrazione">

                        <h5>Hai già un account ? <a id="linkToLogin" role="button"
                                                    onclick="switchFromRegistModalToLogin()"> Accedi </a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
        integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
        crossorigin="anonymous"></script>


<script>

    if (window.location.hash == '#_=_') {
        history.replaceState
            ? history.replaceState(null, null, window.location.href.split('#')[0])
            : window.location.hash = '';
    }

</script>


</body>


</html>
