<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
   <meta charset="UTF-8">
     <title>Title</title>
</head>

<body>

    <div class="Wrapper">
           <div class="unauthenticated">
             <a class="btn" href="/login">Login</a>
           </div>
           <div class="authenticated" style="display: none">
             Logged in as: <span id="user"></span>
             <div><button onClick="logout()" class="btn">Logout</button></div>
           </div>
    </div>

</body>
<script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script>

    // if (window.location.hash == '#_=_'){
    //       history.replaceState
    //           ? history.replaceState(null, null, window.location.href.split('#')[0])
    //           : window.location.hash = '';
    //   }

    $.get("/user", function(data) {
        $("#user").html(data.userAuthentication.details.name);
        $(".unauthenticated").hide();
        $(".authenticated").show();
      });

    var logout = function() {
        $.post("/logout", function() {
          $("#user").html('');
          $(".unauthenticated").show();
          $(".authenticated").hide();
        });
        return true;
      }
</script>

</html>