<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <title th:utext="${title}"></title>
</head>

<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Message : <span th:utext="${message}"></span></h2>

<div class="Wrapper">
      <div class="unauthenticated">
        <a class="btn" href="/login">Login</a>
      </div>
      <div class="authenticated" style="display: none">
        Logged in as: <span id="user2"></span>
        <div><button onClick="logout()" class="btn">Logout</button></div>
      </div>

</div>

</body>
<script>
    // if (window.location.hash == '#_=_'){
    //       history.replaceState
    //           ? history.replaceState(null, null, window.location.href.split('#')[0])
    //           : window.location.hash = '';
    //   }

    $.get("/user2", function(data) {
        $("#user2").html(data.userAuthentication.details.name);
        $(".unauthenticated").hide();
        $(".authenticated").show();
      });

    var logout = function() {
        $.post("/logout", function() {
          $("#user2").html('');
          $(".unauthenticated").show();
          $(".authenticated").hide();
        });
        return true;
      }
</script>
</html>