<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" >
<!--
xmlns:th="http://www.w3.org/1999/xhtml"
-->
<head>

    <th:block th:insert="fragments/header.html :: headerInclusions" />

    <title>Title</title>
    <style>
        table th, table td {
            padding: 5px;
        }
        .message {
            color: blue;
        }
    </style>

    <script src="js/listUsers.js"   th:src="@{/js/listUsers.js}"></script>
</head>
<body>

<th:block th:include="/_menu"></th:block>

<!-- Include _menu.html -->
    <div id="appListUser">


        <th:block th:insert="fragments/header.html :: notificationMessages" />

        <button @click="reloadUserList()">Reload User list</button>

        <h2>Members</h2>

        <input type="checkbox" id="checkShowPassword" v-model="showPassword" name="checkbox" checked="false">
        <label for="checkShowPassword">Show Password?</label>


        <table border="1">
            <tr>
                <th>Delete</th>
                <th>ID User</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Enabled</th>
                <th>Encrypted Password (maybe)</th>
            </tr>
            <tr v-for="user in users">
                <td>
                    <button @click="deleteUser(user.userId)">Delete</button>
                </td>
                <td>
                    <div>{{user.userId}}</div>
                </td>
                <td>
                    <div>{{user.userName}}</div>
                </td>
                <td>
                    <div>{{user.userEmail}}</div>
                </td>
                <td>
                    <div>{{user.enabled}}</div>
                </td>
                <td v-if="showPassword">
                    <div>{{user.encrytedPassword}}</div>
                </td>
            <!--
            <tr th:each ="member : ${members}">
                <td th:utext="${member.userId}">...</td>
                <td th:utext="${member.userName}">...</td>
                <td th:utext="${member.encrytedPassword}">...</td>
                <td th:utext="${member.UserEmail}">...</td>
                <td><a th:href="@{/deleteUser}">delete user</a></td>
            </tr>
            -->
        </table>
    </div>

</body>
</html>