<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table th, table td {
            padding: 5px;
        }
        .message {
            color: blue;
        }
    </style>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>
<h2>Members</h2>
<table border="1">
    <tr>
        <th>ID User</th>
        <th>User Name</th>
        <th>Password criptata</th>
        <th>Email</th>

    </tr>
    <tr th:each ="member : ${members}">
        <td th:utext="${member.userId}">...</td>
        <td th:utext="${member.userName}">...</td>
        <td th:utext="${member.encrytedPassword}">...</td>
        <td th:utext="${member.UserEmail}">...</td>


    </tr>
</table>

</body>
</html>