<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <th:block th:insert="fragments/header.html :: headerInclusions" />

    <script src="js/createGroup.js" th:src="@{/js/createGroup.js}"></script>

</head>
<body>

<div id="appNewGroup">

    <th:block th:insert="fragments/header.html :: notificationMessages" />

    <div id="formNewGroup">

        <div class="progress">
            <div id="progBarCreateGroup" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 5%">
            </div>
        </div>



        <div>
            <input
                    type="text"
                    v-model="newGroupInfo.creator"
                    name="userCreator"
                    placeholder="User creator, if any">
        </div>

        <div>
            <input
                    type="text"
                    v-model="newGroupInfo.groupName"
                    name="title"
                    placeholder="Title of your group/event">
        </div>

        <!--
        v-model="newGroupInfo.location"
        -->
        <div>
            <input
                    type="text"
                    name="location"
                    placeholder="NOT WORKING RIGHT NOW Location: a city or a building">
        </div>


        <div>
            <input
                    type="date"
                    v-model="newGroupInfo.groupDate"
                    name="groupDate"
                    value="2020-01-01">
        </div>

        <div>
            <input
                    type="text"
                    v-model="newGroupInfo.description"
                    name="description"
                    placeholder="Description of the group">
        </div>

        <div>
            <input
                    type="text"
                    v-model="newGroupInfo.genre"
                    name="genre"
                    placeholder="Genre: 'study', 'sport', 'music', 'street art', ...">
        </div>

        <div id="tagsSection">
            <input
                    type="text"
                    v-model="tag"
                    name="tag"
                    placeholder="Tag: 'computer science', 'math', 'football', ...">
            <button name="addTag" value="Add tag" @click="addTag()">Add Tag</button>
            <div>
                <ul id="tags">
                    <li v-for="tag in newGroupInfo.tags">
                        <p>{{tag}}</p><button value="X" @click="removeTag(tag)">X</button>
                    </li>
                </ul>
            </div>
        </div>

        <button @click="createGroup()">Create Group</button>

    </div>


</div>

</body>
</html>