<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <th:block th:insert="fragments/header.html :: headerInclusions" />

    <script src="js/searchGroup.js" th:src="@{/js/searchGroup.js}"></script>


    <script src="js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">

    <style>

        textarea {
            max-width: 400px;
            max-height: 100px;
        }

        .listTagsUsers{
            max-width: 400px;
            max-height: 100px;
            overflow-y: scroll;
            overflow-x: hidden;

            display: flex;
            flex-flow: column;
            /*
            flex-wrap: wrap;
             */
        }
    </style>
</head>
<body>

<div id="appSearch">

    <th:block th:insert="fragments/header.html :: notificationMessages" />

    <div id="formSearchGroup">

        <div>
            <input
                    type="text"
                    v-model="filterSearch.userCreator"
                    name="userCreator"
                    placeholder="User creator, if any">
        </div>

        <div>
            <input
                    type="text"
                    v-model="filterSearch.title"
                    name="title"
                    placeholder="Title of your group/event">
        </div>

        <div>
            <input
                    type="text"
                    name="location"
                    v-model="filterSearch.location"
                    placeholder="NOT WORKING RIGHT NOW Location: a city or a building">
        </div>

        <div>
            <input
                    type="number"
                    v-model="filterSearch.maxDistance"
                    name="maxDistance"
                    placeholder="Maximum distance"
                    value="0.0">
        </div>

        <div>
            <input
                    type="date"
                    v-model="filterSearch.dateStartRange"
                    name="dateStart"
                    value="2019-01-01">
        </div>


        <div>
            <input
                    type="date"
                    v-model="filterSearch.dateEndRange"
                    name="dateEnd"
                    value="2020-01-01">
        </div>

        <div>
            <input
                    type="text"
                    v-model="filterSearch.description"
                    name="description"
                    placeholder="Description of the group">
        </div>

        <div>
            <input
                    type="text"
                    v-model="filterSearch.genre"
                    name="genre"
                    placeholder="Genre: 'study', 'sport', 'music', 'street art', ...">
        </div>

            <div class="d-flex flex-row flex-nowrap w-100" id="tagsSection">
                <div class="d-flex flex-column flex-nowrap w-50">
                    <p>Your chosen tags</p>
                    <div class="d-flex flex-row flex-nowrap w-100">
                        <input
                                type="text"
                                v-model="tag"
                                name="tag"
                                placeholder="Tag: 'computer science', 'math', 'football', ...">
                        <button name="addTag" value="Add tag" @click="addTag()">Add Tag</button>
                    </div>
                    <div id="tags" class="tagList d-flex flex-column flex-nowrap border border-primary rounded shadow-sm bg-white ">
                        <div class="flexInline" v-for="(tag, index) in filterSearch.tags">
                            <button value="X" @click="removeTag(tag, index)">X</button>
                            <p>{{tag}}</p>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-column flex-wrap w-50">
                    <p>Pick up some tags from yet existing ones.</p>
                    <div class="d-flex flex-row flex-nowrap w-100">
                        <input
                                type="text"
                                v-model="filterTags"
                                name="tagFilter"
                                placeholder="Search onto existing tags">
                        <button name="filterTag" value="Add filter" @click="applyFilter()">Apply filter</button>
                    </div>
                    <!-- <b-container> -->
                    <div class="tagList yetExistingTags d-flex flex-column flex-nowrap border border-primary rounded shadow-sm bg-white">
                        <!-- <b-row -->
                        <div
                                v-for="tag in getFilteredTags">
                            <button @click="addTagFromExisting(tag.name)">{{tag.name}}</button>
                        </div>
                        <!-- </b-row> -->
                    </div>
                </div>
            </div>
        </div>

    <div id="groupsResult">
        <button @click="listAllGroups()">Get all groups</button>
        <button @click="advSearchGroups()">Search groups</button>

        <table border="1">
            <tr>
                <th>Delete</th>
                <th>ID Group</th>
                <th>Name </th>
                <th>Creator</th>
                <th>Date</th>
                <th>Location</th>
                <th>Description</th>
                <th>Tags</th>
                <th>Members</th>
            </tr>
            <tr v-for="group in groups">
                <td><button @click="deleteGroup(group.groupId)">X</button></td>
                <td >{{group.groupId}}</td>
                <td >{{group.groupName}}</td>
                <td >{{group.creator}}</td>
                <td >{{group.groupDate}}</td>
                <td >{{group.location}}</td>
                <td >
                    <textarea rows="5" cols="25">{{group.description}}</textarea>
                </td>
                <td>
                    <div class="listTagsUsers">
                        <div v-for="tag in group.tags">
                            {{tag.name}}
                        </div>
                    </div>
                </td>
                <td>
                    <div class="listTagsUsers">
                        <div v-for="user in group.members">
                            {{tag.userName}}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

</div>

</body>
</html>