<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Search Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <th:block th:insert="fragments/header.html :: headerInclusions" />

    <script src="js/searchGroup.js" th:src="@{/js/searchGroup.js}"></script>

</head>
<body>

<div id="appSearch">

    <th:block th:insert="fragments/header.html :: notificationMessages" />

    <div id="formSearchGroup">

        <div>
            <input
                    type="text"
                    v-model="filterSearch.userCreator"
                    name="userCreator"
                    placeholder="User creator, if any">
        </div>

        <div>
            <input
                    type="text"
                    v-model="filterSearch.title"
                    name="title"
                    placeholder="Title of your group/event">
        </div>

        <!--
       v-model="filterSearch.location"
       -->
        <div>
            <input
                    type="text"
                    name="location"
                    placeholder="NOT WORKING RIGHT NOW Location: a city or a building">
        </div>

        <!--
        -->
        <div>
            <input
                    type="number"
                    v-model="filterSearch.maxDistance"
                    name="maxDistance"
                    placeholder="Maximum distance"
                    value="0.0">
        </div>

        <div>
            <input
                    type="date"
                    v-model="newGroupInfo.dateStartRange"
                    name="dateStart"
                    value="2019-01-01">
        </div>


        <div>
            <input
                    type="date"
                    v-model="newGroupInfo.dateEndRange"
                    name="dateEnd"
                    value="2020-01-01">
        </div>

        <div>
            <input
                    type="text"
                    v-model="filterSearch.description"
                    name="description"
                    placeholder="Description of the group">
        </div>

        <div>
            <input
                    type="text"
                    v-model="filterSearch.genre"
                    name="genre"
                    placeholder="Genre: 'study', 'sport', 'music', 'street art', ...">
        </div>

        <div id="tagsSection">
            <input
                    type="text"
                    v-model="tag"
                    name="tag"
                    placeholder="Tag: 'computer science', 'math', 'football', ...">
            <button name="addTag" value="Add tag" @click="addTag()">Add Tag</button>
            <div>
                <ul id="tags">
                    <li v-for="tag in filterSearch.tags">
                        <p>{{tag}}</p><button value="X" @click="removeTag(tag)">X</button>
                    </li>
                </ul>
            </div>
        </div>

        <button @click="newGroup">Create Group</button>

    </div>

    <div id="groupsResult">
        <button @click="listAllGroups()">Get all groups</button>
        <ul id="groupsList">
            <li v-for="group in groups">
                <p>{{group.groupName}}</p>
                <p>{{group.description}}</p>
                <p>{{group.groupDate}}</p>
                <p>{{group.creator}}</p>
            </li>
        </ul>
    </div>

</div>

</body>
</html>