<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/userPage.css" th:href="@{/css/userPage.css}">

    <th:block th:insert="fragments/header.html :: headerInclusions"/>
    <script src="js/userPage.js" th:src="@{/js/userPage.js}"></script>

</head>
<body>
<div id="loaderCustom">

</div>


<div id="appUserPage">
    <th:block th:replace="fragments/navbar :: navbar"/>
    <div class="container">


        <div class="container-fluid user__header">
            <img v-bind:src="urlImage" alt="">

            <a @click="changeImageUser()">Click per cambiare immagine</a>
            <div class="user__header__name"><h1>{{userInfo.userName}}</h1></div>
        </div>

        <div class="user__body__info">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3">
                    <i class="far fa-calendar-alt"></i>{{userInfo.userName}}@gmail.com{{userInfo.userEmail}}
                </div>
                <div class="col-md-3">
                    <i class="fas fa-users"></i>Iscritto a {{userGroups.length}} gruppi
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
        <hr>
        <div class="container-fluid user__body">
            <div class="user__body__description"><h3>Descrizione</h3>

                <textarea id="descriptionInput"
                          cols="50"
                          rows="10"
                          placeholder="Description"
                          v-model="userInfo.description"
                          class="descriptionInput"
                ></textarea>

                <button class="btn btn-default" id="descriptionButton" @click="changeUserDescription()">
                    {{descriptionButton}}
                </button>

            </div>

        </div>

        <hr>
        <div class="container-fluid user__body__description">
            <h3> Gruppi in cui sei iscritto </h3>


            <ul v-if="userGroups.length > 0 ">
                <li v-for=" group in userGroups">
                    <a v-bind:href="'/group_page/'+group.groupId"><img src="https://source.unsplash.com/random/40x40"
                                                                       class="profile-image img-circle"> &nbsp;{{group.groupName}}</a>

                    <hr>
                </li>
            </ul>

        </div>
    </div>
</div>


    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous">

    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
            integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
            crossorigin="anonymous"></script>


</body>
</html>